extends layout
block content
    h1 Create a Product
    form(action="/products/create" method="POST")
        ul
            li Product Name:
            input(type="text", name="name", value='')
            li Price:
            input(type="text", name="price", value='')
            input(type="submit", value="submit")